@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <abbr title="Phone">P:</abbr>
    +48572226995
</address>

<address>
    <strong>Email:</strong>  <a href="mailto:mona.sh1366@gmail.com">mona.sh1366@gmail.com</a><br />
    <strong>Skype Call:</strong> <a href="skype:live:mona.sh1366?call">Call Me</a><br />
    <strong>Skype Chat:</strong> <a href="skype:live:mona.sh1366?chat">Chat With Me</a>
</address>